APP_DEBUG = true
DB_DRIVER = mysql
DB_TYPE = mysql
DB_HOST = 127.0.0.1
DB_NAME = elderly_care
DB_USER = elderly_app
DB_PASS = ElderlyApp@2026
DB_PORT = 3306
DB_CHARSET = utf8mb4

DEFAULT_LANG = zh-cn
